In [ ]:
#1
n=int(input("enter number of rows : "))
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

enter number of rows : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#2
n=int(input("enter num  of rows:"))
for i in range(n):
  for j in range(i+1):
    print("*",end="")
  print()

enter num  of rows:5
*
**
***
****
*****

In [ ]:
#3
n=int(input("enter num of rows :"))
for i in range(n):
  for j in range(i,n):
    print("*",end="")
  print()

enter num of rows :5
*****
****
***
**
*

In [ ]:
#4
n=int(input("enter num of rows :"))
for i in range(n):
   for j in range(i,n):
      print(" ",end="")
   for j in range(i+1):
     print("*",end="")
   print()

enter num of rows :5
     *
    **
   ***
  ****
 *****

In [ ]:
#5
n=int(input("enter num of rows :"))
for i in range(n):
  for j in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print("*",end="")
  print()

enter num of rows :5
 *****
  ****
   ***
    **
     *

In [ ]:
#6
n=int(input("enter num of rows :"))
for i in range(n):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i):
    print("*",end="")
  for j in range(i+1):
    print("*",end="")
  print()

enter num of rows :5
     *
    ***
   *****
  *******
 *********

In [ ]:
#7
n=int(input("enter num of rows :"))
for i in range(n):
  for j in range(i+1):
   print(" ",end="")
  for j in range(i,n):
   print("*",end="")
  for j in range(i+1,n):
    print("*",end="")
  print()

enter num of rows :5
 *********
  *******
   *****
    ***
     *

In [ ]:
#8
n=int(input("enter num of rows :"))
for i in range(n-1):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i):
    print("*",end="")
  for j in range(i+1):
     print("*",end="")
  print()
for i in range(n):
  for j in range(i+1):
   print(" ",end="")
  for j in range(i,n):
   print("*",end="")
  for j in range(i+1,n):
    print("*",end="")
  print()

enter num of rows :6
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [ ]:
#9
n=int(input("enter num of rows"))
for i in range(n-1):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i+1):
    print("*",end="")
  print()
for i in range(n):
  for j in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print("*",end="")
  print()

enter num of rows5
     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [ ]:
#10
n=int(input("enter num of rows :"))
for i in range(n-1):
  for j in range(i+1):
    print("*",end="")
  for j in range(i,n):
    print(" ",end="")
  print()
for i in range(n):
  for j in range(i,n):
    print("*",end="")
  for j in range(i+1):
    print(" ",end="")
  print()

enter num of rows :5
*
**
***
****
*****
****
***
**
*

In [ ]:
#11
n=int(input("enter num of rows :"))
for i in range (n-1):
  for j in range(i+1):
    print("*",end="")
  for j in range(i,n-1):
    print(" ",end="")
  for j in range(i,n-1):
    print(" ",end="")
  for j in range(i+1):
    print("*",end="")
  print()
for i in range (n):
  for j in range(i,n):
    print("*",end="")
  for j in range(i):
    print(" ",end="")
  for j in range(i):
    print(" ",end="")
  for j in range(i,n):
    print("*",end="")
  print()

enter num of rows :5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [102]:
#12
n=int(input("enter no rows :"))
for i in range(n-1):
  for j in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print("*",end=" ")
  print()
for i in range(n):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i+1):
    print("*",end=" ")
  print()

enter no rows :5
 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

In [111]:
#13
n=int(input("enter no of rows :"))
for i in range(1, n+1):
    for j in range(1, n+1):
        if i == 1 or i == n or j == 1 or j == n:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

enter no of rows :5
* * * * *
*       *
*       *
*       *
* * * * *

In [114]:
#14
for row in range(6):
  for col in range(7):
    if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
      print("*",end="")
    else :
      print(" ",end="")
  print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [116]:
#15
rows = int(input("enter no of rows :"))
cols = int(input("enter no of coloums:"))
for i in range(rows):
    for j in range(cols):
        if i == 0 or i == rows - 1 or j == 0 or j == cols - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

enter no of rows :5
enter no of coloums:8
* * * * * * * *
*             *
*             *
*             *
* * * * * * * *

In [ ]:
#16
n=int(input("enter no of rows :"))
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p+1
  print()

enter no of rows :5
1
22
333
4444
55555

In [ ]:
#17
n=int(input("enter no of rows :"))
p=int(input("enter no of rows :"))
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p-1
  print()

enter no of rows :5
enter no of rows :5
5
44
333
2222
11111

In [ ]:
#16
n=int(input("enter no of rows :"))
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p+2
  print()

enter no of rows :5
0
22
444
6666
88888

In [ ]:
#17
n=int(input("enter no of rows :"))
for i in range(n):
  for j in range(i+1):
    if i%2==0:
      print("1",end="")
    else :
      print("2",end="")
  print()

enter no of rows :5
1
22
111
2222
11111

In [ ]:
#18
n=int(input("enter num of rows :"))
p=1
for i in range(n-1):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i):
    print(p,end="")
  for j in range(i+1):
     print(p,end="")
  p=p+1
  print()
for i in range(n):
  for j in range(i+1):
   print(" ",end="")
  for j in range(i,n):
   print(p,end="")
  for j in range(i+1,n):
    print(p,end="")
  p=p+1
  print()

enter num of rows :5
     1
    222
   33333
  4444444
 555555555
  6666666
   77777
    888
     9

In [ ]:
#19
n=int(input("enter num of rows :"))
p=1
for i in range(n-1):
  for j in range(i,n):
    print(" ",end="")
  for j in range(i):
    print(p,end="")
  for j in range(i+1):
     print(p,end="")
  p=p+1
  print()
for i in range(n):
  for j in range(i+1):
   print(" ",end="")
  for j in range(i,n):
   print(p,end="")
  for j in range(i+1,n):
    print(p,end="")
  p=p-1
  print()

enter num of rows :5
     1
    222
   33333
  4444444
 555555555
  4444444
   33333
    222
     1

In [ ]:
#20
n=int(input("enter no of rows :"))
for i in range(n):
  p=1
  for j in range(i+1):
    print(p,end="")
    p=p+1
  print()

enter no of rows :5
1
12
123
1234
12345

In [ ]:
#21
n=int(input("enter no of rows :"))
for i in range(n):
  p=1
  for j in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print(p,end="")
    p=p+1
  print()

enter no of rows :5
 12345
  1234
   123
    12
     1

In [ ]:
#22
n=int(input("enter no of rows :"))
for i in range(n):
  p=1
  for j in range(i,n):
    print(" ",end="")
  for j in range(i):
    print(p,end="")
    p=p+1
  for j in range(i+1):
    print(p,end="")
    p=p+1
  print()

enter no of rows :5
     1
    123
   12345
  1234567
 123456789

In [ ]:
#23
n=int(input("enter no of rows :"))
for i  in range(n):
  p=5
  for j in range(i+1):
    print(p,end="")
    p=p-1
  print()

enter no of rows :5
5
54
543
5432
54321

In [ ]:
#24
n=int(input("enter no of rows :"))
k=5
for i in range(n):
  p=k
  for j in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print(p,end="")
    p=p+1
  k=k-1
  print()

enter no of rows :5
 56789
  4567
   345
    23
     1

In [ ]:
#25
n=int(input("enter no of rows :"))
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p+1
  print()

enter no of rows :5
1
22
333
4444
55555

In [ ]:
#26
n=int(input("enter no of rows :"))
p=5
for i in range(n):
  for j in range(i,n):
    print(p,end="")
  p=p-1
  print()

enter no of rows :5
55555
4444
333
22
1

In [ ]:
#27
n=int(input("enter no of rows :"))
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p+2
  print()

enter no of rows :5
1
33
555
7777
99999

In [ ]:
#28
n=int(input("enter no of rows :"))
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end="")
  p=p+1
  print()

enter no of rows :5
1
22
333
4444
55555

In [ ]:
#29
n=int(input("enter number of rows :"))
p=1
for i in range(n):
  for j in range(i,n):
    print(p,end="")
  p=p+1
  print()

enter number of rows :5
11111
2222
333
44
5

In [ ]:
#30
n=int(input("enter number of rows :"))
for i in range(n):
  for j in range(i,n):
    print("5",end="")
  print()

enter number of rows :6
555555
55555
5555
555
55
5

In [ ]:
#31
n=int(input("enter number of rows :"))
for i in range(n):
  p=0
  for j in range(i,n):
    print(p,end="")
    p=p+1
  print()

enter number of rows :6
012345
01234
0123
012
01
0

In [104]:
#32
n=int(input("enter number of rows :"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i*j,end="")
  print()

enter number of rows :8
1
24
369
481216
510152025
61218243036
7142128354249
816243240485664

In [110]:
#33
n=int(input("enter no of rows :"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=i:
     print(i,end="")
    else :
     print(j,end="")
  print()

enter no of rows :5
12345
22345
33345
44445
55555