In [ ]:
# write a python program to convert a string to lowercase
var="MAHABOOB"

var.lower()

'mahaboob'

In [ ]:
# write a python program to convert only odd indexed characters to lowercase
x="MAHABOOB"

x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()+x[6]+x[7].lower()

'MaHaBoOb'

In [ ]:

# write a python program to convert only even indexed characters to lowercase
y="MAHABOOB"

y[0].lower()+y[1]+y[2].lower()+y[3]+y[4].lower()+y[5]+y[6].lower()+y[7]

'mAhAbOoB'

In [ ]:
# write a python program to convert only odd indexed characters to uppercase
z="bharat"

z[0]+z[1].upper()+z[2]+z[3].upper()+z[4]+z[5].upper()

'bHaRaT'

In [ ]:
# write a python program to convert  even indexed characters to uppercase
z="bharat"

z[0].upper()+z[1]+z[2].upper()+z[3]+z[4].upper()+z[5]

'BhArAt'

In [ ]:
name=input("enter your name")
sex=input("enter your sex")
age=int(input("enter your age"))
phoneno=int(input("enter your phone no"))
fathername=input("enter your fathername")
mothername=input("enter your mothername")

enter your namemahaboob
enter your sexmale
enter your age19
enter your phone no8897752582
enter your fathernameramzan
enter your mothernanekhairun

In [ ]:
(name,age,sex,phoneno,fathername,mothername)

('mahaboob', 19, 'male', 8897752582, 'ramzan', 'khairun')

In [ ]:
# write a python program where you have different variable which contains your name,sex,age,phoneno,fathername,mothername.andby using this variable create a variable named biodata where you will see all this variable#
#example=print(boidata)
#otuput=my name is...,my age is...,my sex is....,my phoneno is...,my fathername is....,my mothername....,
name="mahaboob"
sex="male"
age=19
phoneno=8897752582
fathername="ramzan"
mothername="khairun"


biodata="my name is{},my sex is {},my age is{},my phoneno{},my fathername{},my mothername{}".format(name,sex,age,phoneno,fathername,mothername)

In [ ]:
biodata

'my name ismahaboob,my sex is male,my age is19,my phoneno8897752582,my fathernameramzan,my mothernamekhairun'

In [ ]:
 #write a pyth0n program to count how many times "@" occured
 var4="aba@@@@BB@@@Koijol@@@@@"

 var4.count("@")

12

In [ ]:
# write a python program to get only names from string

ironman="mahaboob@gmail.com,tonystark@gmail.com,cristty@gmail.com"

ironman.replace( "@gmail.com",  "  ")

'mahaboob  ,tonystark  ,cristty  '

In [ ]:
# given a string odd length greater that 9,return a new string made of the middle three characters of a givem string

x="abcdieaaabcb"
x.strip("abc")

'die'

In [8]:
# write a python program to insert a 2 string in the middle of 1 string
x="i am datascience"
y="persuing"

x[0:5]+y[0: ]+x[4:]

'i am persuing datascience'

In [27]:
#write a python program to remove vowels from the entire alphabets

x="abcdefghijklmnopqrstuvwxyz"
a=x.replace("a","")
b=a.replace("e","")
c=b.replace("i","")
d=c.replace("o","")
e=d.replace("u","")
print(e)

bcdfghjklmnpqrstvwxyz