In [1]:
#1 Write a Python program to loop through all the elements in a list
L1=[1,2,3,4,5,6]
for i in L1:
  print(i)

1
2
3
4
5
6

In [2]:
#2 Write a Python program where you will ask the users to insert elements in a list
x=[]
y=0
for z in range(6):
  insert=input("enter insert element :")
  x.insert(z,insert)
print("inserted elements in a list :",x)

enter insert element :mahaboob
enter insert element :99.99
enter insert element :100
enter insert element :1+99j
enter insert element :ABDEVILLIERS
enter insert element :RCB
inserted elements in a list : ['mahaboob', '99.99', '100', '1+99j', 'ABDEVILLIERS', 'RCB']

In [3]:
#3 Write a Python program to remove all the odd index value from a list and only evenindex elements should remain
x=[1,2,3,4,5,6,7,"a"]
z=[]
for x in range(0,len(x)) :
    if x%2==0:
     z.append(x)
print("the list contain only even index elements :",z)

the list contain only even index elements : [0, 2, 4, 6]

In [3]:
#4 Write a Python program to sum and multiply all the items in a list
x=[10,20,30,40,50,60]
sum=0
prod=1
for i in x:
  sum=sum+i
  prod=prod*i
print("the total sum of the list",sum)
print("the total product of the list",prod)

the total sum of the list 210
the total product of the list 720000000

In [4]:
#5 Write a Python program to get the maximum and minimum numbers from a list
lst=[2,34,90,22,99]
lst.sort()
print("the minimum number from  the give is :",lst[0])
lst.sort(reverse=True)
print("the maximum number from  the give is :",lst[0])

the minimum number from  the give is : 2
the maximum number from  the give is : 99

In [6]:
#6 Write a Python program to print a specified list after removing the 0th, 4th and 5thelements.
colurs=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
colur=[]
for y in range(0,len(colurs)):
  if y!=0 and y!=4 and y!=5:
    colur.append(colurs[y])
print(x)

['Green', 'White', 'Black']

In [7]:
#7 Write a Python program to convert a list of characters into a string
x=["m","a","h","a","b","o","o","b",4,9,2,"b","@","g","m","a","i","l","c","o","m"]
y=""
for i in x:
  y=y+str(i)
print("list of character into a string :",y)

list of character into a string : mahaboob492b@gmailcom

In [9]:
#8 Write a Python program to compute average of given lists.
x=[10,20,30,40,50,60,70,80,90,100]
sum=0
avg=0
for i in x:
  sum=sum+i
  avg=avg+1
print("the compute average of the given list :",sum/avg)

the compute average of the given list : 55.0

In [12]:
# 9. Write a Python program to count integer in a given mixed list.
x=["m","22","35","67","89","98","1+2j:","10.0","maxy","99"]
n=0#count of the integers
j=0#index
for i in range(0,len(x)):
  g=x[j]
  if g.isdigit():
    n=n+1
  j=j+1
print("the total number of integers in given list is :",n)

the total number of integers in given list is : 6

In [13]:
#10 Write a Python program to reverse the list
x=[10,20,30,40,50,100,"buji","mahaboob",1+2j,99.9]
i=len(x)-1
y=[]
for j in x:
  rvr=x[i]
  y.append(rvr)
  i=i-1
print("reverse of the given list :",y)

reverse of the given list : [99.9, (1+2j), 'mahaboob', 'buji', 100, 50, 40, 30, 20, 10]

In [14]:
#11 Write a Python program convert a given string to a tuple
x=input("enter string :")
tp=tuple(x)
print("converting given string in to a tuple :",tp)

enter string :mahaboob2003@gmail.com
converting given string in to a tuple : ('m', 'a', 'h', 'a', 'b', 'o', 'o', 'b', '2', '0', '0', '3', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm')

In [16]:
#12 How to create a list of squares of numbers from 1 to 5 using a list comprehension
y=[]
for i in range(1,6):
  x=i**2
  y.append(x)
print("squares of the given list of 1 to 5 :",y)

squares of the given list of 1 to 5 : [1, 4, 9, 16, 25]

In [17]:
#13 How to remove duplicates from a list without changing the order of elements?
my_list=[2,3,4,1,9,8,3,4,1,0,7,26,9,8]
unique_list=[]
for x in my_list:
   if x  not in unique_list:
     unique_list.append(x)
print("the unique_list does not have any duplicate value :",unique_list)

the unique_list does not have any duplicate value : [2, 3, 4, 1, 9, 8, 0, 7, 26]

In [18]:
#14 How to find the intersection of two lists using list
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection=[ x for x in list1 if x  in list2 ]
print("the common elements between two lists :",intersection)

the common elements between two lists : [3, 4, 5]

In [23]:
#15 How to reverse the order of words in a sentence using a list
sentence="hello how are you ?"
word=sentence.split()
reversed_sentence=" ".join(word[ : :-1])
print("reverse of the given list :",reversed_sentence)

reverse of the given list : ? you are how hello