In [ ]:
#1 What is a tuple in Python?
tp=("mahaboob",100.00,99,)#tuple is similer to list but there is only one difference between them that is tuple are immutable and list are mutable
type(tp)

tuple

In [ ]:
#2 How can you create an empty tuple?
tpl=()
type(tpl)

tuple

In [ ]:
#3 Can a tuple have different data types as its elements?
mixed_tuple=('buji', (1+2j), [1, 2], 99.99, 10000)
print(mixed_tuple)

('buji', (1+2j), [1, 2], 99.99, 10000)

In [ ]:
#4 How do you access elements in a tuple?
tp=('buji', (1+2j), [1, 2], 99.99, 10000)
print(tp[2])# we can access elemant by using index values

[1, 2]

In [ ]:
#5 Can you modify a tuple after it has been created?
x=(1,2,3,4)
x[2]=100#if we run  this we get an error because tuples are immutable

In [ ]:
#6 What is tuple packing and unpacking?
tp=(20,30,60,80)#packing
a,b,c,d=tp#unpacking and no of variables is equal to len(tp)
print(a)

20

In [ ]:
y=(1,2,3,4,5,6)
a,*b=y
print(b)

[2, 3, 4, 5, 6]

In [ ]:
#7 How can you check if an element is present in a tuple?
tpl=("INDIA",100,99.99,"newzeland","semifinal",10,20)
print(20 in tpl)
print(90 in tpl)

True
False

In [ ]:
#8 Can you concatenate or repeat tuples?
x=(1,2,3)
y=(4,5,6)
z=x+y
print("cocatenate of the tuples",z)
print("duplication of the tuple",z*2)

cocatenate of the tuples (1, 2, 3, 4, 5, 6)
duplication of the tuple (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
#9 Can you convert a list to a tuple and vice versa?
lst=[1,2,3,4,5,6]
tp=tuple(lst)
print("converting a list to tuple:",tp)
lst=list(tp)#vice vesra
print("converting a tuples to list: ",lst)

converting a list to tuple: (1, 2, 3, 4, 5, 6)
converting a tuples to list:  [1, 2, 3, 4, 5, 6]

In [ ]:
#10 Explain the use of the count and index methods in tuples.
tpl=(2,3,4,4,12,34,6,7,3,4,17,4,15,4,)
count=tpl.count(4)
print("the total number of times element is repeated is :",count)
index=tpl.index(4)# if there are more duplicates of same element then it gives first occurance of that element
print("the element is present at that index is :",index)

the total number of times element is repeated is : 5
the element is present at that index is : 2

In [7]:
#11 How do you reverse a tuple without using the [::-1] slicing?tpl
tpl=(1,2,3,4,5,6,7)
reversed_tpl=tuple(tpl[i] for i in range(len(tpl)-1,-1,-1))
print("reverse of the tuple :",reversed_tpl)

reverse of the tuple : (7, 6, 5, 4, 3, 2, 1)

In [21]:
#12 Can you find the maximum and minimum values in a tuple without using built-in functions?
num_tpl=(56,98,87,73,99,20,43,67,35,93)
max_val=num_tpl[0]
min_val=num_tpl[0]
for tp in num_tpl:
  if tp>max_val:
    max_val=tp
  elif tp<min_val:
    min_val=tp
print("maximum value ",max_val)
print("minimum value",min_val)

maximum value  99
minimum value 20

In [30]:
#13 Create a new tuple with only unique elements from the given tuple.
tpl=(1,2,2,3,4,3,7,8,4,9,0,5,7,6)
unique_tpl=tuple(x for x in tpl if tpl.count(x)==1)
print(unique_tpl)

(1, 8, 9, 0, 5, 6)

In [48]:
 #14 Combine two tuples element-wise without using any built-in functions.
 tpl1=(10,20,30,40)
 tpl2=("m","a","h","i")
 combine_tpl=tuple((tpl1[i],tpl2[i])  for  i in range(min(len(tpl1),len(tpl2))))
 print(combine_tpl)

((10, 'm'), (20, 'a'), (30, 'h'), (40, 'i'))

In [53]:
#15 Sort a tuple of integers without using the sorted function.
unsorted_tuple=(10,1,34,5,4,7,8,12,2,99,8,15,6)
sorted_tuple=tuple(sorted(unsorted_tuple[i] for i in range(len(unsorted_tuple))))
print(sorted_tuple)

(1, 2, 4, 5, 6, 7, 8, 8, 10, 12, 15, 34, 99)